<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <property name="DEV_HOME" value="C://simulation//logs"/>
    <appender name="logFile" class="ch.qos.logback.core.FileAppender">
        <file>${DEV_HOME}/debug.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

    </appender>

    <!-- we'll log info to both -->

    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="logFile"/>
    </root>

</configuration>